<div class="chat-header">
<div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
       <%= link_to "削除", room_path(@room), method: :delete, data: { confirm: '削除してもいいですか?' } %>
    </div>
  </div>
</div>

<div class="messages">
<%= render partial: 'message', collection: @messages %>
</div>

<%= link_to(new_room_message_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>


