<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージ' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :images, multiple: true,class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <div id="image-list"></div>
<% end %>

<%= image_tag @message.images, id: 'image' if @message.images.present? %> 
